/* src/App.css */
.App {
  text-align: center;
  padding: 20px;
}

nav a {
  margin: 0 10px;
  text-decoration: none;
  color: #007bff;
}

nav a:hover {
  text-decoration: underline;
}

form {
  margin: 20px auto;
  width: 300px;
  display: flex;
  flex-direction: column;
}

input,
textarea {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 5px;
}

button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 20px 0;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  background-color: #f8f9fa;
  text-align: left;
}

li img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 10px 0;
}

li p {
  margin: 5px 0;
  font-size: 14px;
  color: #333;
}

li button {
  margin-top: 10px;
}